/* positioning */
.wrapper{
    padding: 6%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 60%;
}
.name{
    grid-column: 1;
    grid-row: 1;
    font-size: 80px;
}
.list{
    grid-column: 1;
    grid-row: 2;
    font-size: 65px;
}
.side{
    grid-column: 2;
    grid-row: 1;
    text-decoration: none;
    text-align: right;
    list-style: none;
    font-size: 30px;
    padding-top: 9%;
}
ul.side > li:hover{
    color: red;
}

/* style */
body{
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: white; 
    list-style: none;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}

/* interaction */
.name:hover{
    color: red;
}
.list1:hover{
    color: red;
}
.list2:hover{
    color: red;
}
.list3:hover{
    color: red;
}