/* positioning */
.wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
}
.box{
    padding: 6%;
    grid-column: 1;
    grid-row: 1/2;
}
.name{
    grid-column: 1;
    grid-row: 1;
    font-size: 400%;
}
.list{
    grid-column: 1;
    grid-row: 2;
    font-size: 300%;
}
.side{
    grid-column: 2/3;
    grid-row: 1/2;
    text-decoration: none;
    list-style: none;
    text-align: right;
    font-size: 200%;
}


/* style */
body{
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    color: white; 
    list-style: none;
    /* overflow: hidden; */
}
a{
    text-decoration: none;
    color: inherit;
}

/* interaction */
.name:hover{
    color: red;
}
p.list > a:hover{
    color: red;
}
ul.side > li:hover{
    color: red;
}